.projectItemContainer {
  width: 100%;
  max-width: 342px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-self: center;

  .imageContainer {
    width: 100%;
    height: 255px;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;

    &:hover {
      transform: translateY(-5px);
      filter: brightness(1.1);
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
      pointer-events: none;
    }

    a {
      width: 100%;
      height: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .projectItemInfos {
    .subtitle {
      color: var(--primary);
      font-family: Lato, sans-serif;
    }
  }

  h3 {
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .projectItemButtonsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;

    .githubLink {
      font-family: Poppins, sans-serif;
      font-weight: bold;
      margin-top: 1rem;
      color: var(--primary);
      display: flex;
      place-items: center;
      cursor: pointer;
      position: relative;
      transition: all 1s ease;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .projectItemTechTags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
}
