.buttonSecondary {
  background-color: var(--primary);
  color: var(--black);
  font-size: 1.125rem;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0;
  transition: all 0.2s ease;
  
  :nth-child(1) {
    margin-left: 0.5rem;
  }

  &:hover {
    // filter: brightness(0.95);
    box-shadow: 0 0 0 3px rgba(247, 64, 164, 0.5);
  }
}