.headerSection {
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 124px;
    }
  }

  div {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    nav {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      color: var(--white);
      font-weight: bold;
      font-size: 1.125rem;

      a {
        cursor: pointer;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 0px;
          background-color: var(--primary);
          height: 4px;
          left: 0;
          bottom: -10px;
          border-radius: 10px;
          transition: width 0.5s;
          overflow: hidden;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}

.heroContent {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: var(--white);

  h1 {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 3rem;
  }

  p {
    font-family: Lato, sans-serif;
    font-size: 1.5rem;
    width: 30ch;
    text-align: center;

    strong {
      color: var(--primary);
    }
  }

  .heroButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    margin: 2rem;
  }
}

.projectSection {
  background: linear-gradient(149.18deg, #ffffff 1.33%, #ebebeb 99.4%);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;

  .projectsContent {
    margin-top: 6rem;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .projectsGrid {
      width: 100%;
      margin: 6rem 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
      gap: 4rem;
    }

    .projectOpenSourceSection {
      margin-top: 6rem;
    } 
  }
}
