$mobile: 1000px;
$tablet: 1440px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

.headerSection {
  width: 100%;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  
  @include mobile() {
    display: none;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 124px;
    }
  }

  div {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;

    @include tablet {
      padding: 0 2rem;
    }


    nav {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      color: var(--white);
      font-weight: bold;
      font-size: 1.125rem;

      a {
        cursor: pointer;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 0px;
          background-color: var(--primary);
          height: 4px;
          left: 0;
          bottom: -10px;
          border-radius: 10px;
          transition: width 0.5s;
          overflow: hidden;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}

.heroContent {
  width: 100%;
  max-width: 1440px;
  height: calc(100vh - 84px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 84px;
  z-index: 1;
  color: var(--white);

  @include mobile() {
    margin-top: 0px;
  }

  h1 {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 3rem;
    text-align: center;

    @include mobile {
      padding: 0 2rem;
      font-size: 2.5rem;
      line-height: 40px;
    }
  }

  p {
    font-family: Lato, sans-serif;
    font-size: 1.5rem;
    width: 30ch;
    text-align: center;

    @include mobile {
      padding: 0 2rem;
    }

    strong {
      color: var(--primary);
    }
  }

  .heroButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    margin: 2rem;

    @include mobile {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }
}

.projectSection {
  background: linear-gradient(149.18deg, #ffffff 1.33%, #ebebeb 99.4%);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;

  .projectsContent {
    margin-top: 6rem;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .projectsGrid {
      width: 100%;
      margin: 6rem 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
      gap: 4rem;
    }

    .projectOpenSourceSection {
      margin-top: 6rem;
    }
  }
}

.aboutSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(118.4deg, #101010 0.41%, #242424 100%);

  @include tablet {

  }

  @include mobile() {

  }

  .aboutContent {
    margin: 6rem 0;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);

    .avatarContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 4rem;
      margin-bottom: 1rem;

      .avatar {
        border-radius: 100%;
        width: 12rem;
        height: auto;
      }
    }

    h3 {
      font-family: Poppins, sans-serif;
      font-size: 2.25rem;
      text-align: center;
    }

    .location {
      color: var(--primary);
      font-weight: bold;
    }

    .aboutDescription {
      margin: 2rem 0;
      width: 100%;
      max-width: 60ch;
      color: var(--greyText);

      @include mobile {
        padding: 0 2rem;
      }
    }

    .aboutButtonContainer {
      margin: 3rem 0;
    }

    h4 {
      font-size: 1.5em;
      font-weight: bold;
      font-family: Poppins, sans-serif;
      color: var(--primary);
      margin: 2rem 0 1rem 0;
    }

    .skillsContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4rem;
      gap: 1rem;

      @include mobile {
        padding: 0 2rem;
        flex-wrap: wrap;
        gap: 2rem;
      }
    }

    .formationContainer {
      margin-top: 4rem;
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include mobile {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 4rem;
      }

      .experienceSection {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
          padding: 0 2rem;
        }

        @include mobile {
          width: 100%;
          text-align: center;
        }

        .timeline {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          margin-bottom: 2rem;

          span {
            font-weight: bold;
          }

          img {
            @include mobile {
              width: 100px;
            }
          }
        }

        .assignmentsContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          color: var(--black);
          font-size: 0.8rem;
        }

        h5 {
          color: var(--primary);
          font-weight: bold;
          font-size: 1rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
      }

      .educationContainer {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
          padding: 0 2rem;
        }

        @include mobile {
          width: 100%;
          text-align: center;
        }

        h5 {
          font-weight: bold;
          font-size: 1.125rem;
          margin-bottom: 1rem;
          font-family: Poppins, sans-serif;
        }

        p {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

.contactSection {
  background: linear-gradient(149.18deg, #ffffff 1.33%, #ebebeb 99.4%);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  padding: 6rem 0;

  .contactContent {
    width: 100%;
    max-width: 70ch;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      padding: 0 2rem;
    }
  }
}

.footer {
  background: linear-gradient(118.4deg, #101010 0.41%, #242424 100%);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  @include tablet {
    padding: 0 2rem;
  }

  @include mobile {
    height: auto;
  }

  .footerContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    color: var(--white);
    font-weight: bold;

    img {
      width: 124px;
    }

    @include mobile {
      flex-direction: column;
      justify-content: flex-start;
      margin: 3rem 0 6rem 0;
      gap: 1rem;
    }
  }
}
